@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
--fonte-principal: "Open Sans", sans-serif;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
   color: black;
}
a:hover {
   color: black;
}
body {
    background-color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.cabecalho img {
    width:300px;
    height:100px;
}
header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255); 
  }
.corpo img {
  width: 300px;
  height: 400px;
  margin-right: 10%;
  }
.corpo {
  margin: 20px;
}
.corpo_do_site {
  text-align: center;
}
.inicio p {
  font-size: 25px;
  margin: 2em;
}
.areas_de_atuacao {
  background-color: rgba(108, 107, 107, 0.36);
  padding: 20px;
}
.areas_de_atuacao img {
  width: 50px;
  height: auto;
  margin-left: 20px;
  margin-right: 2em;
}
.area_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.area_item img {
  width: 50px;
  height: auto;
  margin-bottom: 10px; 
}
.area_item p {
  font-size: 16px;
  margin-top: 0;
  color: black;
  text-align: center;
}
.layout {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}
.areas_de_atuacao h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.areas_de_atuacao .content {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}
.areas_de_atuacao p {
  width: 70%;
  font-size: 20px;
}
.text_content {
  width: 50%; 
  padding-right: 20px;
}
.text_content p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}
.content {
  width: 50%;
}
.linha1, .linha2 {
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  background-color: rgba(108, 107, 107, 0.36);
  padding: 30px;
  border-radius: 20px;
  float: right;
  margin: 20px auto;
  box-sizing: border-box;
  width: 100%;
}
.title {
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 15px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: 1em;
  box-sizing: border-box;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input:valid + span {
  color: green;
}
.submit {
    background-color: rgb(3, 19, 65);
    padding: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
}
.submit:hover {
  background-color: rgb(3, 25, 91);
}
@media (max-width: 768px) {
  .areas_de_atuacao .content {
    flex-direction: column;
    align-items: center;
}

.area_item img {
    margin-bottom: 10px;
}
.layout {
  flex-direction: column;
  align-items: center;
}

.text_content, .content {
  width: 100%;
}

.linha1, .linha2 {
  justify-content: center;
}
}