@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
--fonte-principal: "Open Sans", sans-serif;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
   color: black;
}
a:hover {
   color: black;
}
body {
    background-color: white;
    font-size: 16px;
    font-weight: 400;
}
.cabecalho img {
    width:300px;
    height:100px;
}
header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255); 
  }
.corpo img {
  width: 300px;
  height: 400px;
  margin-right: 10%;
  }
.corpo {
    background-color: white;
}
.corpo_do_site {
  align-items: center;
  text-align: center;
}
.inicio p {
  font-size: 25px;
  margin: 2em;
}
.areas_de_atuacao {
  text-align: right;
  background-color: rgba(108, 107, 107, 0.36);
}
.areas_de_atuacao img {
  width: 50px;
  height: 60px;
  margin-right: 2em;
}
.areas_de_atuacao h1 {
  text-align: center;
  margin-left: 2em;
  font-size: 30px;
}
.areas_de_atuacao p {
  text-align: left;
  font-size: 25px;
  margin: 2em;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  background-color: rgba(108, 107, 107, 0.36);
  padding: 30px;
  border-radius: 20px;
  float: right;
  margin-right: 3em;
  box-sizing: border-box;
  width: 100%;
}
.title {
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 15px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: 1em;
  box-sizing: border-box;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input:valid + span {
  color: green;
}
.submit {
  border: none;
  outline: none;
  background-color: rgb(3, 19, 65);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.submit:hover {
  background-color: rgb(3, 25, 91);
}
@media (max-width: 768px) {
  .form {
    margin-right: 0;
    max-width: 100%;
    padding: 20px;
  }
}